---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1123699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"177e693c02bb3488b368735f46197a06"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '596'
    body:
      encoding: UTF-8
      string: '{"id":1123699,"description":"This repo is for demonstration purposes
        only.","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:kylemacey/Spoon-Knife.git","http_url_to_repo":"https://gitlab.com/kylemacey/Spoon-Knife.git","web_url":"https://gitlab.com/kylemacey/Spoon-Knife","name":"Spoon-Knife","name_with_namespace":"Kyle
        Macey / Spoon-Knife","path":"Spoon-Knife","path_with_namespace":"kylemacey/Spoon-Knife","star_count":0,"forks_count":0,"created_at":"2016-04-27T19:27:08.692Z","last_activity_at":"2016-07-08T18:36:12.673Z","_links":{"self":"http://gitlab.com/api/v4/projects/1123699","issues":"http://gitlab.com/api/v4/projects/1123699/issues","merge_requests":"http://gitlab.com/api/v4/projects/1123699/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/1123699/repository/branches","labels":"http://gitlab.com/api/v4/projects/1123699/labels","events":"http://gitlab.com/api/v4/projects/1123699/events","members":"http://gitlab.com/api/v4/projects/1123699/members"},"archived":false,"visibility":"public","owner":{"id":414903,"name":"Kyle
        Macey","username":"kylemacey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey"},"resolve_outdated_diff_discussions":null,"container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":414903,"namespace":{"id":486715,"name":"kylemacey","path":"kylemacey","kind":"user","full_path":"kylemacey","parent_id":null},"import_status":"finished","avatar_url":null,"open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Thu, 21 Sep 2017 15:44:21 GMT
recorded_with: VCR 3.0.3
