---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"122026b166ac5767b04cc8b41326aeeb"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=jonmagic&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=jonmagic&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"b4bebcc500d8680ac78cfeefe4406553","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-02-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '[{"id":529946,"username":"jonmagic","name":"Jon Magic","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0d7decc81547daf68c2c6cd4c86086ae43f3602d954cd85549068a97ac153616?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Mon, 23 Sep 2024 21:08:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1707147b655afc275aff2581388d1b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=dpmex4527&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '7'
      Ratelimit-Remaining:
      - '1993'
      Ratelimit-Reset:
      - '1652131975'
      Ratelimit-Resettime:
      - Mon, 09 May 2022 21:32:55 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-01-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1238984,"username":"dpmex4527","name":"Daniel Perez","state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"}]'
  recorded_at: Mon, 09 May 2022 21:31:55 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c2084d367c399321b1af83968eff7dea"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits?id=1169162&order=default&page=1&per_page=100&trailers=false>;
        rel="first"
      X-Gitlab-Meta:
      - '{"correlation_id":"85998bf6206ee25ade316d162d53aed3","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      Gitlab-Lb:
      - haproxy-main-18-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"c5ddb53e20b579b621d6c073da6d168a2d9c09df","short_id":"c5ddb53e","created_at":"2019-11-05T15:26:01.000-05:00","parent_ids":["fc40f8230aab1a10e16c70b2706e2d2a6164eea0"],"title":"Add
        files with 99 and 255 character file names","message":"Add files with 99 and
        255 character file names\n","author_name":"Jared Fine","author_email":"jfine@github.com","authored_date":"2019-11-05T15:26:01.000-05:00","committer_name":"Jared
        Fine","committer_email":"jfine@github.com","committed_date":"2019-11-05T15:26:01.000-05:00","trailers":{},"extended_trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/c5ddb53e20b579b621d6c073da6d168a2d9c09df"},{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"title":"Merge
        branch ''merged-fork-pr'' into ''master''","message":"Merge branch ''merged-fork-pr''
        into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee merge requ[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/c5ddb53e20b579b621d6c073da6d168a2d9c09df/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits/c5ddb53e20b579b621d6c073da6d168a2d9c09df/comments?id=1169162&page=1&per_page=100&sha=c5ddb53e20b579b621d6c073da6d168a2d9c09df>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/commits/c5ddb53e20b579b621d6c073da6d168a2d9c09df/comments?id=1169162&page=1&per_page=100&sha=c5ddb53e20b579b621d6c073da6d168a2d9c09df>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"0d3a434417dc4d61f5e75f2ac82157e4","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-29-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Sep 2024 21:09:18 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01becfbd9c9559a3272356069e157d44"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=1&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/commits/fc40f8230aab1a10e16c70b2706e2d2a6164eea0/comments?id=1169162&page=1&per_page=100&sha=fc40f8230aab1a10e16c70b2706e2d2a6164eea0>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"68f2ab5d5e6b90479e33f56bac0df24a","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-41-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '[{"note":"test commit comment. commit comment issue is : #7","path":null,"line":null,"line_type":null,"author":{"id":1238984,"username":"dpmex4527","name":"Daniel
        Perez","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/2ba8390547ac44f565e6b418fc1fbd04c4dd9dba2424b3557e244e1bcb734482?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:00.903Z"},{"note":"test
        commit comment. commit comment merge request reference is !9 ","path":null,"line":null,"line_type":null,"author":{"id":1238984,"username":"dpmex4527","name":"Daniel
        Perez","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/2ba8390547ac44f565e6b418fc1fbd04c4dd9dba2424b3557e244e1bcb734482?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:26.217Z"},{"note":"test
        commit comment. \r\n\r\nissue is #7 \r\nMR is !9 ","path":null,"line":null,"line_type":null,"author":{"id":1238984,"username":"dpmex4527","name":"Daniel
        Perez","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/2ba8390547ac44f565e6b418fc1fbd04c4dd9dba2424b3557e244e1bcb734482?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"created_at":"2017-04-20T14:52:41.528Z"}]'
  recorded_at: Mon, 23 Sep 2024 21:09:18 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"1e1707147b655afc275aff2581388d1b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e54c191908b8f00562fc53cda8e10028"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&[...]
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"7689dee45153aa626ad8f9f3c830f236"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eedc34984f0ff5d3047a2a139108f700"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
[...]
