---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/branches?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d676e1f04e96c08614b85c9ee3dc90b5"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/branches?id=1169162&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/branches?id=1169162&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1555708665'
      Ratelimit-Resettime:
      - Sat, 19 Apr 2019 21:17:45 GMT
    body:
      encoding: UTF-8
      string: '[{"name":"fp-pr","commit":{"id":"542aed8ddc52388ce24212a74ecba6a511a9a763","short_id":"542aed8d","created_at":"2016-10-03T21:24:29.000+00:00","parent_ids":null,"title":"foo","message":"foo","author_name":"Kyle
        Macey","author_email":"kylemacey@github.com","authored_date":"2016-10-03T21:24:29.000+00:00","committer_name":"Kyle
        Macey","committer_email":"kylemacey@github.com","committed_date":"2016-10-03T21:24:29.000+00:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false},{"name":"master","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":null,"title":"Merge
        branch ''merged-fork-pr'' into ''master''","message":"Merge branch ''merged-fork-pr''
        into ''master''","author_name":"Kyle Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committe[...]
