---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26ea398ae34a833af66312a7f9b31ad9"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '17'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1651853381'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:09:41 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-08-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":50,"created_at":"2016-05-10T22:02:36.802Z","expires_at":null,"membership_state":"active"},{"id":529946,"username":"jonmagic","name":"Jon
        Magic","state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic","access_level":30,"created_at":"2016-05-10T22:05:01.956Z","created_by":{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"expires_at":null,"membership_state":"active"},{"id":529949,"username":"lizzhale","name":"Lizz","state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale","access_level":20,"created_at"[...]
