---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/3741535/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0a1a2e819d8718e71cb9f371504b9963"
      Link:
      - <https://gitlab.com/api/v4/projects/3741535/hooks?id=3741535&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/3741535/hooks?id=3741535&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":238872,"url":"http://requestb.in/1izuozf1","created_at":"2017-08-27T21:43:34.444Z","push_events":false,"tag_push_events":false,"repository_update_events":false,"enable_ssl_verification":true,"project_id":3741535,"issues_events":false,"merge_requests_events":false,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false},{"id":238871,"url":"http://requestb.in/v3fo7mv3","created_at":"2017-08-27T21:43:20.452Z","push_events":false,"tag_push_events":false,"repository_update_events":false,"enable_ssl_verification":true,"project_id":3741535,"issues_events":false,"merge_requests_events":false,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false}]'
  recorded_at: Sun, 27 Aug 2017 21:44:16 GMT
recorded_with: VCR 3.0.3
