---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb8c230a61f7fbd1371a0846fbcece0c"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests?id=1169162&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests?id=1169162&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '10'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":4385181,"iid":10,"project_id":1169162,"title":"No commits in
        this MR","description":"","state":"opened","created_at":"2017-07-24T19:37:37.033Z","updated_at":"2017-07-26T17:34:57.585Z","target_branch":"master","source_branch":"no-commits","upvotes":0,"downvotes":0,"author":{"name":"Maxwell
        Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"cannot_be_merged","sha":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","merge_commit_sha":null,"user_notes_count":2,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"squash":false,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/10"},{"id":3046522,"iid":9,"project_id":1169162,"title":"Update
        README.md - test commit comment refactor","description":"- added new line
        for testing purposes","state":"opened","created_at":"2017-04-06T16:08:48.535Z","updated_at":"2017-05-31T16:05:14.008Z","target_branch":"master","source_branch":"test-commit-comments","upvotes":0,"downvotes":0,"author":{"name":"Daniel
        Perez","username":"dpmex4527","[...]
