---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/25693144/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01b1c475a10c3d139eb8d17794890728"
      Link:
      - <https://gitlab.com/api/v4/projects/25693144/labels?id=25693144&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/25693144/labels?id=25693144&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '36'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1651855498'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:44:58 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-08-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":19440082,"name":"Catalog","description":null,"description_html":"","text_color":"#FFFFFF","color":"#6699cc","subscribed":false,"priority":null,"is_project_label":true},{"id":19440083,"name":"Catalog
        (Use DevOps)","description":null,"description_html":"","text_color":"#FFFFFF","color":"#6699cc","subscribed":false,"priority":null,"is_project_label":true},{"id":19440084,"name":"Config
        Calculator (Use DevOps)","description":null,"description_html":"","text_color":"#FFFFFF","color":"#6699cc","subscribed":false,"priority":null,"is_project_label":true},{"id":19440085,"name":"Demo
        Servers","description":null,"description_html":"","text_co[...]
