---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c10f5a7f7973ff9c7a33bbdc6e616f72"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Gitlab-Feature-Category:
      - issue_tracking
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '22'
      Ratelimit-Remaining:
      - '1978'
      Ratelimit-Reset:
      - '1617819571'
      Ratelimit-Resettime:
      - Wed, 07 Apr 2021 18:19:31 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248628,"name":"Blocker","color":"#a295d6","description":"I''m
        currently blocked, please send help.","description_html":"I''m currently blocked,
        please send help.","text_color":"#333333","subscribed":false,"priority":null,"is_project_label":true},{"id":248627,"name":"Bug","color":"#ff0000","description":"","description_html":"","text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true},{"id":252887,"name":"Don''t
        Drink and Code","color":"#ad8d43","description":"","description_html":null,"text_color":"#FFFFFF","subscribed":false,"priority":null,"is_project_label":true}]'
  recorded_at: Wed, 07 Apr 2021 18:18:31 GMT
recorded_with: VCR 3.0.3
