---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=78491623
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"53f80fcfdcb200a3a3dcaecb3d2cd382"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=78491623&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=78491623&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"29e339e23857ac54e7eccf827aa6633a","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-28-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4676821,"username":"78491623","name":"78491623","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/dff3d690742cfc6795bd60b0fc64cb8376d01e1cd275fbfc1b6cfdbb945b319f?s=80\u0026d=identicon","web_url":"https://gitlab.com/78491623"}]'
  recorded_at: Fri, 13 Sep 2024 15:06:30 GMT
recorded_with: VCR 6.1.0
