---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fsubgroup1%2Frepo1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c780c8d9500cf0260735ed41d260510f"
      X-Gitlab-Meta:
      - '{"correlation_id":"27ddc773505daf725ae79029b326b85b","version":"1"}'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1700257285'
      Ratelimit-Resettime:
      - Fri, 17 Nov 2023 21:41:25 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-31-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":35106463,"description":"","name":"Repo1","name_with_namespace":"Mouse-Hack
        / subgroup1 / Repo1","path":"repo1","path_with_namespace":"Mouse-Hack/subgroup1/repo1","created_at":"2022-04-05T14:45:17.969Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/subgroup1/repo1.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/subgroup1/repo1.git","web_url":"https://gitlab.com/Mouse-Hack/subgroup1/repo1","readme_url":"https://gitlab.com/Mouse-Hack/subgroup1/repo1/-/blob/main/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2022-04-05T14:45:17.969Z","namespace":{"id":51640663,"name":"subgroup1","path":"subgroup1","kind":"group","full_path":"Mouse-Hack/subgroup1","parent_id":627189,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack/subgroup1"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/subgroup1/repo1","_links":{"self":"https://gitlab.com/api/v4/projects/35106463","issues":"https://gitlab.com/api/v4/projects/35106463/issues","merge_requests":"https://gitlab.com/api/v4/projects/35106463/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/35106463/repository/branches","labels":"https://gitlab.com/api/v4/projects/35106463/labels","events":"https://gitlab.com/api/v4/projects/35106463/events","members":"https://gitlab.com/api/v4/projects/35106463/members","cluster_agents":"https://gitlab.com/api/v4/projects/35106463/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2022-04-06T14:45:18.002Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+mouse-hack-subgroup1-repo1-35106463-issue-@incoming.gitlab.com","can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"open_issues_count":0,"description_html":"","updated_at":"2022-04-05T14:45:54.775Z","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"runners_token":"GR1348941xAxin3dSXqp2RdzA6Mko","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Fri, 17 Nov 2023 21:40:25 GMT
recorded_with: VCR 6.1.0
