---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/3741535/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"511c42fcca0c0b558297f94295fa6711"
      Link:
      - <https://gitlab.com/api/v4/projects/3741535/members?id=3741535&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/3741535/members?id=3741535&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"Maxwell Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead","access_level":40,"expires_at":null}]'
  recorded_at: Sun, 27 Aug 2017 21:18:19 GMT
recorded_with: VCR 3.0.3
