---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebf1ce63bfd25544e39a5639c9903d62"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?id=1169162&page=1&per_page=100&sha=220d5dc2582a49d694c503abdb8cf25bcdd81dce>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce/comments?id=1169162&page=1&per_page=100&sha=220d5dc2582a49d694c503abdb8cf25bcdd81dce>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"b96c519b8fb3c8977d419b5b36e3d912","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1699051927'
      Ratelimit-Resettime:
      - Fri, 03 Nov 2023 22:52:07 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-46-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"note":"is this necessary?\r\n\r\n[testFile.txt](/uploads/af7fcacfc5d69fdcf63a8f04048a106f/testFile.txt)\r\n\r\n\r\n\r\n","path":"Brewfile","line":5,"line_type":null,"author":{"id":529949,"username":"lizzhale","name":"Lizz","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"},"created_at":"2016-05-10T22:23:50.501Z"}]'
  recorded_at: Fri, 03 Nov 2023 22:51:07 GMT
recorded_with: VCR 6.1.0
