---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/hooks/50703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95da727dbe549420c6a857d37a94838e"
    body:
      encoding: UTF-8
      string: '{"id":50703,"url":"http://requestb.in/1izuozf1","created_at":"2016-07-07T20:36:26.639Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":true,"project_id":1169162,"issues_events":false,"merge_requests_events":false,"note_events":true,"pipeline_events":false,"wiki_page_events":false,"job_events":false}'
  recorded_at: Sun, 27 Aug 2017 02:18:15 GMT
recorded_with: VCR 3.0.3
