---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/2/notes/11735567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df4bfe6ed090f8044247656b08ea0a4f"
    body:
      encoding: UTF-8
      string: '{"id":11735567,"body":"asdfasdfasdfasdfasdf","attachment":null,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80&d=identicon","web_url":"https://gitlab.com/spraints"},"created_at":"2016-05-10T22:20:54.384Z","updated_at":"2016-05-10T22:20:54.384Z","system":false,"noteable_id":476834,"noteable_type":"MergeRequest","noteable_iid":2}'
  recorded_at: Sun, 27 Aug 2017 01:47:17 GMT
recorded_with: VCR 3.0.3
