---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e9aadf691b05e29bdefcaded9328b287"
    body:
      encoding: UTF-8
      string: '{"id":2191619,"iid":1,"project_id":1169162,"title":"Sign in with GitHub","description":"Get
        omniauth the rest of the way set up, and get you logged in.","state":"closed","created_at":"2016-05-10T21:21:25.830Z","updated_at":"2017-04-21T21:05:07.122Z","labels":[],"milestone":null,"assignees":[{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80&d=identicon","web_url":"https://gitlab.com/lizzhale"}],"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80&d=identicon","web_url":"https://gitlab.com/spraints"},"assignee":{"name":"Lizz","username":"lizzhale","id":529949,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80&d=identicon","web_url":"https://gitlab.com/lizzhale"},"user_notes_count":2,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/issues/1","_links":{"self":"http://gitlab.com/api/v4/projects/1169162/issues/1","notes":"http://gitlab.com/api/v4/projects/1169162/issues/1/notes","award_emoji":"http://gitlab.com/api/v4/projects/1169162/issues/1/award_emoji","project":"http://gitlab.com/api/v4/projects/1169162"},"subscribed":false}'
  recorded_at: Sun, 27 Aug 2017 06:51:31 GMT
recorded_with: VCR 3.0.3
