---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/issues/5/notes/11735615
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df584d9cf5025223110180b9ae7686a4"
    body:
      encoding: UTF-8
      string: '{"id":11735615,"body":"It looks like https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/1
        has already :ship: ","attachment":null,"author":{"name":"Jon Magic","username":"jonmagic","id":529946,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80&d=identicon","web_url":"https://gitlab.com/jonmagic"},"created_at":"2016-05-10T22:27:02.519Z","updated_at":"2016-05-10T22:27:02.519Z","system":false,"noteable_id":2192031,"noteable_type":"Issue","noteable_iid":5}'
  recorded_at: Sun, 27 Aug 2017 01:36:28 GMT
recorded_with: VCR 3.0.3
