---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0be421d257f5b78d3457403087231a49"
    body:
      encoding: UTF-8
      string: '{"id":479769,"iid":3,"project_id":1169162,"title":"Close this IMMEDIATELY","description":"![hubmojis-jglovier-angry](/uploads/b2dc4a70da2ae24bd6db89c16dbf0de9/hubmojis-jglovier-angry.gif)\r\n","state":"closed","created_at":"2016-05-11T22:59:36.326Z","updated_at":"2016-05-11T22:59:46.195Z","target_branch":"master","source_branch":"test-branch","upvotes":0,"downvotes":0,"author":{"name":"Kyle
        Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"a7c109c372ca8869b22350f2977cf75334d6bf57","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/3","subscribed":false}'
  recorded_at: Sun, 27 Aug 2017 06:34:28 GMT
recorded_with: VCR 3.0.3
