---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e048c681cd33cf2086e1f453e5d1a7fb"
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1652131971'
      Ratelimit-Resettime:
      - Mon, 09 May 2022 21:32:51 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"id":"c5ddb53e20b579b621d6c073da6d168a2d9c09df","short_id":"c5ddb53e","created_at":"2019-11-05T15:26:01.000-05:00","parent_ids":["fc40f8230aab1a10e16c70b2706e2d2a6164eea0"],"title":"Add
        files with 99 and 255 character file names","message":"Add files with 99 and
        255 character file names\n","author_name":"Jared Fine","author_email":"jfine@github.com","authored_date":"2019-11-05T15:26:01.000-05:00","committer_name":"Jared
        Fine","committer_email":"jfine@github.com","committed_date":"2019-11-05T15:26:01.000-05:00","trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/c5ddb53e20b579b621d6c073da6d168a2d9c09df"},"merged":false,"protected":true,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":true,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/tree/master"}'
  recorded_at: Mon, 09 May 2022 21:31:51 GMT
recorded_with: VCR 3.0.3
