---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7803b1a7926cdc3c66592e06789bc171"
      X-Gitlab-Meta:
      - '{"correlation_id":"fea9909eaa2f4abdb54bf3ebfc2d81cb","version":"1"}'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1699479818'
      Ratelimit-Resettime:
      - Wed, 08 Nov 2023 21:43:38 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-50-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":476834,"iid":2,"project_id":1169162,"title":"WIP: this one''ll
        really be about what the branch name says","description":"Please report this.
        To verizon. Or the NSA.","state":"opened","created_at":"2016-05-10T22:20:29.649Z","updated_at":"2016-05-12T20:50:27.073Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"omniauth-login","user_notes_count":4,"upvotes":0,"downvotes":0,"author":{"id":142189,"username":"spraints","name":"Matt","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"assignees":[{"id":142189,"username":"spraints","name":"Matt","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"}],"assignee":{"id":142189,"username":"spraints","name":"Matt","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"reviewers":[],"source_project_id":1169162,"target_project_id":1169162,"labels":["Blocker","Don''t
        Drink and Code"],"draft":false,"work_in_progress":false,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20","start_date":null,"expired":true,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/milestones/1"},"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"mergeable","sha":"c222af415ecc78c644c139cbf5eb44a25205cbad","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"prepared_at":"2016-05-10T22:20:29.649Z","reference":"!2","references":{"short":"!2","relative":"!2","full":"Mouse-Hack/hugo-pages!2"},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":false,"changes_count":"2","latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":{"base_sha":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","head_sha":"c222af415ecc78c644c139cbf5eb44a25205cbad","start_sha":null},"merge_error":null,"first_contribution":false,"user":{"can_merge":true}}'
  recorded_at: Wed, 08 Nov 2023 21:42:38 GMT
recorded_with: VCR 6.1.0
