---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/commits/220d5dc2582a49d694c503abdb8cf25bcdd81dce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ece0330c8dfca7e774ff5de76ce8f8da"
      X-Gitlab-Meta:
      - '{"correlation_id":"17b675b4102c08d71bf49c258871447d","version":"1"}'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1996'
      Ratelimit-Reset:
      - '1699051928'
      Ratelimit-Resettime:
      - Fri, 03 Nov 2023 22:52:08 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-24-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":"220d5dc2582a49d694c503abdb8cf25bcdd81dce","short_id":"220d5dc2","created_at":"2016-05-10T14:59:51.000-07:00","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5"],"title":"Need
        some hugo","message":"Need some hugo\n","author_name":"Matt Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T14:59:51.000-07:00","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T14:59:51.000-07:00","trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/220d5dc2582a49d694c503abdb8cf25bcdd81dce","stats":{"additions":2,"deletions":0,"total":2},"status":"skipped","project_id":1169162,"last_pipeline":{"id":2882777,"iid":null,"project_id":1169162,"sha":"220d5dc2582a49d694c503abdb8cf25bcdd81dce","ref":null,"status":"skipped","source":"unknown","created_at":"2016-05-10T22:00:21.686Z","updated_at":"2016-05-10T22:00:21.686Z","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/pipelines/2882777"}}'
  recorded_at: Fri, 03 Nov 2023 22:51:08 GMT
recorded_with: VCR 6.1.0
