---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/tags/end-of-sinatra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b7a59987e5e8cf0c4cc37c6d2051a76"
    body:
      encoding: UTF-8
      string: '{"name":"end-of-sinatra","message":null,"commit":{"id":"1490680b9a193ff188eb0dff7281b29869c62937","short_id":"1490680b","title":"Choose
        my scopes","created_at":"2016-05-10T06:06:10.000-07:00","parent_ids":["27c44637e863f719c071d961ab42a6afc041e034"],"message":"Choose
        my scopes\n","author_name":"Matt Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T06:06:10.000-07:00","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T06:06:10.000-07:00"},"release":{"tag_name":"end-of-sinatra","description":"This
        is the end of sinatra release.![IMG_1708](/uploads/78cf9f363723223e09785f812c732500/IMG_1708.jpg)"}}'
  recorded_at: Mon, 28 Aug 2017 17:40:58 GMT
recorded_with: VCR 3.0.3
