---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3311c12f1fa386f86bdc5548327d5118"
    body:
      encoding: UTF-8
      string: '{"name":"Kyle Macey","username":"kylemacey","id":414903,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80&d=identicon","web_url":"https://gitlab.com/kylemacey","created_at":"2016-02-16T16:36:31.355Z","bio":null,"location":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2017-08-24T22:32:38.215Z","confirmed_at":"2017-07-20T00:31:37.413Z","last_activity_on":"2017-08-27","email":"shout@kylemacey.com","color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2017-08-27T00:17:36.246Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"shared_runners_minutes_limit":null}'
  recorded_at: Sun, 27 Aug 2017 02:32:19 GMT
recorded_with: VCR 3.0.3
