---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/hackmouse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e0eca804b2b17dc7342e91a7bd71a86"
    body:
      encoding: UTF-8
      string: '{"id":488675,"name":"Hack Mouse","path":"hackmouse","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/hackmouse","request_access_enabled":true,"full_name":"Hack
        Mouse","full_path":"hackmouse","parent_id":null,"projects":[{"id":1168427,"description":null,"default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:hackmouse/acme.git","http_url_to_repo":"https://gitlab.com/hackmouse/acme.git","web_url":"https://gitlab.com/hackmouse/acme","name":"acme","name_with_namespace":"Hack
        Mouse / acme","path":"acme","path_with_namespace":"hackmouse/acme","star_count":0,"forks_count":0,"created_at":"2016-05-10T18:02:50.663Z","last_activity_at":"2016-05-10T21:46:12.214Z","_links":{"self":"http://gitlab.com/api/v4/projects/1168427","issues":"http://gitlab.com/api/v4/projects/1168427/issues","merge_requests":"http://gitlab.com/api/v4/projects/1168427/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/1168427/repository/branches","labels":"http://gitlab.com/api/v4/projects/1168427/labels","events":"http://gitlab.com/api/v4/projects/1168427/events","members":"http://gitlab.com/api/v4/projects/1168427/members"},"archived":false,"visibility":"private","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":529946,"namespace":{"id":488675,"name":"Hack
        Mouse","path":"hackmouse","kind":"group","full_path":"hackmouse","parent_id":null},"import_status":"finished","avatar_url":null,"open_issues_count":4,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"approvals_before_merge":0},{"id":1148906,"description":"This
        is an example project","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:hackmouse/example-project.git","http_url_to_repo":"https://gitlab.com/hackmouse/example-project.git","web_url":"https://gitlab.com/hackmouse/example-project","name":"example-project","name_with_namespace":"Hack
        Mouse / example-project","path":"example-project","path_with_namespace":"hackmouse/example-project","star_count":0,"forks_count":0,"created[...]
