---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"396b281376986d6ffeb75cd0b365d71a"
    body:
      encoding: UTF-8
      string: '{"id":476805,"iid":1,"project_id":1169162,"title":"Need some hugo,
        more than #4","description":"Big changes","state":"merged","created_at":"2016-05-10T22:01:00.181Z","updated_at":"2016-05-10T22:27:28.965Z","target_branch":"master","source_branch":"omniauth-login","upvotes":2,"downvotes":1,"author":{"name":"Matt","username":"spraints","id":142189,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80&d=identicon","web_url":"https://gitlab.com/spraints"},"assignee":null,"source_project_id":1169162,"target_project_id":1169162,"labels":[],"work_in_progress":false,"milestone":{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20","start_date":null},"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"220d5dc2582a49d694c503abdb8cf25bcdd81dce","merge_commit_sha":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","user_notes_count":4,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/merge_requests/1","subscribed":false}'
  recorded_at: Sun, 27 Aug 2017 06:34:18 GMT
recorded_with: VCR 3.0.3
