---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/issues?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38f062b5a8f758b4b66eae9af1979833"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/issues?id=1169162&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/issues?id=1169162&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '7'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":5114789,"iid":7,"project_id":1169162,"title":"issue test commit
        comments rewrite","description":"testing commit comment rewrites issue references","state":"opened","created_at":"2017-04-20T14:51:09.184Z","updated_at":"2017-04-20T14:51:09.184Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Daniel
        Perez","username":"dpmex4527","id":1238984,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/47338cb6ea1c84bfd0bbafd6a1298f3d?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/issues/7"},{"id":2656448,"iid":6,"project_id":1169162,"title":"Issue
        with attachments","description":"Here is my issue\r\n\r\n![image](/uploads/4c34b72a41b3e1b2f9a97fd0c2e50d82/image.png)\r\n\r\n[pdf-sample.pdf](/uploads/aca2cc60c183e113481adbdd167aa9fe/pdf-sample.pdf)","state":"opened","created_at":"2016-07-26T21:56:45.417Z","updated_at":"2016-07-26T21:56:45.417Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Kyle
[...]
