---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7689dee45153aa626ad8f9f3c830f236"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=lizzhale&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1997'
      Ratelimit-Reset:
      - '1651854705'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:31:45 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":529949,"username":"lizzhale","name":"Lizz","state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale"}]'
  recorded_at: Fri, 06 May 2022 16:30:45 GMT
recorded_with: VCR 3.0.3
