---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8237eeeaa7ebf7eb2b266d7bfc162b39"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=synthead&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '8'
      Ratelimit-Remaining:
      - '1992'
      Ratelimit-Reset:
      - '1652131975'
      Ratelimit-Resettime:
      - Mon, 09 May 2022 21:32:55 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1477621,"username":"synthead","name":"Maxwell Pray","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"}]'
  recorded_at: Mon, 09 May 2022 21:31:56 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1707147b655afc275aff2581388d1b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/version
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"911c8ac7bc88a4113d5e0f5e80a3c396"
      X-Gitlab-Meta:
      - '{"correlation_id":"3dc60cd0bee3b79acbc1407369816516","version":"1"}'
      Gitlab-Lb:
      - haproxy-main-44-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '{"version":"17.5.0-pre","revision":"a84175fbb87","kas":{"enabled":true,"externalUrl":"wss://kas.gitlab.com","version":"17.5.0+f68994cc69b599b9786f922a11325d982e8cb5cd"},"enterprise":true}'
  recorded_at: Mon, 23 Sep 2024 21:09:54 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"0deadb7938dd66c697ae11f516139249"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6341efffb5782d5e7fdd75795c9474af"
      X-Gitlab-Meta:
      - '{"correlation_id":"bf5994f27f866a97bca73493d621d6f5","version":"1"}'
      Gitlab-Lb:
      - haproxy-main-38-lb-gprd
      Gitlab-Sv:
      - gke-cny-api
    body:
      encoding: ASCII-8BIT
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","created_at":"2016-05-10T21:15:14.616Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","readme_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/blob/master/README.md","forks_count":1,"avatar_url":null,"star_count":0,"last_activity_at":"2023-05-05T16:12:13.450Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/hugo-pages","_links":{"self":"https://gitlab.com/api/v4/projects/1169162","issues":"https://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"https://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"https://gitlab.com/api/v4/projects/1169162/labels","events":"https://gitlab.com/api/v4/projects/1169162/events","members":"https://gitlab.com/api/v4/projects/1169162/members","cluster_agents":"https://gitlab.com/api/v4/projects/1169162/cluster_agents"},"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":null,"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":null,"service_desk_address":"contact-project+mouse-hack-hugo-pages-1169162-issue-@incoming.gitlab.com","can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"private","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"public","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"import_url":"","import_type":null,"import_status":"none","import_error":null,"open_issues_count":7,"description_html":"\u003cp
        data-sourcepos=\"1:1-1:112\" dir=\"auto\"\u003eWanna use something other than
        jekyll? Try this one weird trick. er, actually a bunch of tricks, glued together.\u003c/p\u003e","updated_at":"2024-01-20T04:23:59.457Z","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"maintainer","runners_token":null,"runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"ci_config_path":null,"public_jobs":true,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_full_path":"Mouse-Hack","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Mon, 23 Sep 2024 21:09:54 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3311c12f1fa386f86bdc5548327d5118"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5fb09b846cd839ae8611ed081e5fc049"
      X-Gitlab-Meta:
      - '{"correlation_id":"13a3dcaa71dc6bcc3562f292dd6ff080","version":"1"}'
      Gitlab-Lb:
      - haproxy-main-44-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '{"id":151676,"username":"jfine","name":"Jared Fine","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/a889dfc8eb0b0bea5ede4d9b54041e86fe6ad50598d66cafc35194710a99ecbd?s=80\u0026d=identicon","web_url":"https://gitlab.com/jfine","created_at":"2015-05-15T20:48:35.442Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2023-10-13T20:28:35.167Z","confirmed_at":"2015-05-15T20:49:12.156Z","last_activity_on":"2024-09-23","email":"jared@jfine.org","theme_id":null,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2024-08-21T19:11:32.348Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"jared@jfine.org","shared_runners_minutes_limit":2000,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
  recorded_at: Mon, 23 Sep 2024 21:09:54 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"497f90061a488049c4ac038fae5b7c49"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"480d7ae11e30d965dde63785c66bdec7"
      X-Gitlab-Meta:
      - '{"correlation_id":"25cd17d5db19847178c6a30f9843fd63","version":"1"}'
      Gitlab-Lb:
      - haproxy-main-59-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":true,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":false,"emails_enabled":true,"mentions_disabled":false,"lfs_enabled":true,"math_rendering_limits_enabled":true,"lock_math_rendering_limits_enabled":false,"default_branch":null,"default_branch_protection":2,"default_branch_protection_defaults":{"allowed_to_push":[{"access_level":40}],"allow_force_push":false,"allowed_to_merge":[{"access_level":40}]},"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"organization_id":1,"shared_runners_setting":"enabled","ldap_cn":null,"ldap_access":null,"wiki_access_level":"enabled","shared_with_groups":[],"runners_token":null,"enabled_git_access_protocol":"all","prevent_sharing_groups_outside_hierarchy":false,"projects":[{"id":45764300,"description":null,"name":"test-symbolic-references","name_with_namespace":"Mouse-Hack
        / test-symbolic-references","path":"test-symbolic-references","path_with_namespace":"Mouse-Hack/test-symbolic-references","created_at":"2023-05-05T16:17:32.828Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-symbolic-references.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-symbolic-references.git","web_url":"https://git[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"26ea398ae34a833af66312a7f9b31ad9"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"73ef52ca377c2b7351bb34869c7c441d"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"8a4a38e2abc13a97f4acae3ee1792b87","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '11'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-12-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1238984,"username":"dpmex4527","name":"Daniel Perez","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/2ba8390547ac44f565e6b418fc1fbd04c4dd9dba2424b3557e244e1bcb734482?s=80\u0026d=identicon","web_url":"https://gitlab.com/dpmex4527","access_level":50,"created_at":"2017-04-04T20:01:36.987Z","created_by":{"id":414903,"username":"kylemacey","name":"Kyle
        Macey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/db754d86f6e0ddd170ec243f84db153d2573ec2ec8d61c6d3b34c1a20728d64f?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"},"expires_at":null,"membership_state":"active"},{"id":1477621,"username":"synthead","name":"Maxwell
        Pray","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead","access_level":50,"created_at":"2017-07-21T19:14:44.309Z","created_by":{"id":414903,"username":"kylemacey","name":"Kyle
        Macey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/db754d86f6e0ddd170ec243f84db153d2573ec2ec8d61c6d3b34c1[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=tambling
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"55b3f7d373abf54e1c0f0f4989c981ee"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a746ab83cc72dafd2c5422bc6363211a"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&a[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jfine
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"981d5fa66e27f1e3ed5172ebdd0605a4"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0e1db7bd62f8df9de643a57dc23518e3"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admi[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mechashark-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"053a4f37e369b532207cdfd30ecb0a56"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc9e7653c15e9aa76fa0d17e1412ddf7"
      Link:
      - <https://gitlab.com/api/v4/users?active=[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=brianaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"eb8dfe9de645bb873634b7d08137a61f"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c63968996f5f99d42611ec5dfaf4753"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&ad[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=iomekam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"844d48c13378d181473eaf2b5901f14e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d868884a4374fb20b3021158ec5a163"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&ad[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=gohana
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"f0fba4609b099d57216b888937027996"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4bf3931434d3e3cd34b12c345024c9b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&adm[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=aliwojo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ccabdf3c3da339606bbf49f1a669679a"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclu[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=xiaonile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf5b1c2746127ba5fa82095efa8f2fe2"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&excl[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=gargola
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fe8ddc77bf4353425889a744e506bc0"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclu[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"c10f5a7f7973ff9c7a33bbdc6e616f72"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4a7729613fc1a9a2a9c5ccddad1b5b86"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"c339bac27cfd36ba37455cdf577d9b33","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-03-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248628,"name":"Blocker","description":"I''m currently blocked,
        please send help.","description_html":"I''m currently blocked, please send
        help.","text_color":"#FFFFFF","color":"#a295d6","subscribed":false,"priority":null,"is_project_label":true},{"id":248627,"name":"Bug","description":"","description_html":"","text_color":"#FFFFFF","color":"#ff0000","subscribed":false,"priority":null,"is_project_label":true},{"id":252887,"name":"Don''t
        Drink and Code","description":"","description_html":null,"text_color":"#FFFFFF","color":"#ad8d43","subscribed":false,"priority":null,"is_project_label":true}]'
  recorded_at: Mon, 23 Sep 2024 21:09:58 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"ab3aece55207d3c64a2740638862909d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/members?id=1169162&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/members?id=1169162&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"9df4fa1e01f515aacaed4436eaf6a6d3","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-14-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Sep 2024 21:09:58 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"3121824c26d13801832ac3d35a0ea62b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d94d658104f72c5f417f5fce5e455a83"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/repository/tags?id=1169162&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"c00b253d6e031535a28755b6404f3f65","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-42-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"release/with-slash","message":"","target":"f5279112babe38cd7673d5c6bde1fddad5b0548d","commit":{"id":"fc40f8230aab1a10e16c70b2706e2d2a6164eea0","short_id":"fc40f823","created_at":"2016-11-23T20:43:35.000+00:00","parent_ids":["3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","75d5f1a0a3f8c07806512a647d16d60c4cd1c36f"],"title":"Merge
        branch ''merged-fork-pr'' into ''master''","message":"Merge branch ''merged-fork-pr''
        into ''master''\r\n\r\nMerged Fork PR\r\n\r\nSee merge request !7","author_name":"Kyle
        Macey","author_email":"shout@kylemacey.com","authored_date":"2016-11-23T20:43:35.000+00:00","committer_name":"Kyle
        Macey","committer_email":"shout@kylemacey.com","committed_date":"2016-11-23T20:43:35.000+00:00","trailers":{},"extended_trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/fc40f8230aab1a10e16c70b2706e2d2a6164eea0"},"release":null,"protected":false,"created_at":"2017-12-15T19:31:24.000Z"},{"name":"v1.0.0","message":"version
        1.0.0 is shipping","target":"fb035ef85099a7d4066b1a80c8eae85123aae30c","commit":{"id":"3a1811f3cb96e9bc426f6ee3544a2cf4f7d5f3fd","short_id":"3a1811f3","created_at":"2016-05-10T22:15:31.000+00:00","parent_ids":["a7291a05bb99bb755cdcaceb76b4f3d7f24837d5","220d5dc2582a49d694c503abdb8cf25bcdd81dce"],"title":"Merge
        branch ''omniauth-login'' into ''master''","message":"Merge branch ''omniauth-login''
   [...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/milestones?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c8fcc25a40d26bea6935ccf1821db05"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/milestones?id=1169162&include_ancestors=false&page=1&per_page=100&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/milestones?id=1169162&include_ancestors=false&page=1&per_page=100&state=all>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"2121945143b607b467b9bc14fce844b4","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-31-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    body:
      encoding: ASCII-8BIT
      string: '[{"id":62677,"iid":1,"project_id":1169162,"title":"Prototype","description":"Just
        get the simplest thing working and out there for folks to try out.","state":"active","created_at":"2016-05-10T22:06:45.481Z","updated_at":"2016-05-10T22:06:45.481Z","due_date":"2020-04-20","start_date":null,"expired":true,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/milestones/1"},{"id":363129,"iid":2,"project_id":1169162,"title":"Test","description":"","state":"closed","created_at":"2017-08-22T20:01:05.160Z","updated_at":"2017-08-22T20:01:41.498Z","due_date":null,"start_date":null,"expired":false,"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/milestones/2"}]'
  recorded_at: Mon, 23 Sep 2024 21:09:59 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/repository/branches?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"d676e1f04e96c08614b85c9ee3dc90b5"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06bff9929095d9582a9c8ea88f45d2c3"
      Link:
      - <https://gitla[...]
