---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"122026b166ac5767b04cc8b41326aeeb"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=jonmagic&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=jonmagic&with_custom_attributes=false&without_project_bots=false&without_projects=false>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"b4bebcc500d8680ac78cfeefe4406553","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-02-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-d
    body:
      encoding: ASCII-8BIT
      string: '[{"id":529946,"username":"jonmagic","name":"Jon Magic","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0d7decc81547daf68c2c6cd4c86086ae43f3602d954cd85549068a97ac153616?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"}]'
  recorded_at: Mon, 23 Sep 2024 21:08:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
      If-None-Match:
      - W/"447c3ab828b8cf739eeaa32cc3ebe57b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"028e8827e904dd0b89b32d01cc439ad3"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/issues/5/notes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5e256da0c789362a40cd486972e2951"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/issues/5/notes?activity_filter=all_notes&id=1169162&noteable_id=5&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/issues/5/notes?activity_filter=all_notes&id=1169162&noteable_id=5&order_by=created_at&page=1&per_page=100&sort=desc>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"e3e9b5e390e56ce702658dc12069e514","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
      Gitlab-Lb:
      - haproxy-main-42-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '[{"id":11758867,"type":null,"body":"[Inconsolata.zip](/uploads/5350f2aa2c0b534e47f478cb58b92ba1/Inconsolata.zip)","attachment":null,"author":{"id":529946,"username":"jonmagic","name":"Jon
        Magic","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0d7decc81547daf68c2c6cd4c86086ae43f3602d954cd85549068a97ac153616?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"},"created_at":"2016-05-11T21:50:07.711Z","updated_at":"2016-05-11T21:50:07.711Z","system":false,"noteable_id":2192031,"noteable_type":"Issue","project_id":1169162,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":5,"commands_changes":{}},{"id":11758710,"type":null,"body":"![2016-05-08_at_9.01_PM](/uploads/4e526753a5ef631b0407a83d946ee158/2016-05-08_at_9.01_PM.png)","attachment":null,"author":{"id":529946,"username":"jonmagic","name":"Jon
        Magic","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/0d7decc81547daf68c2c6cd4c86086ae43f3602d954cd85549068a97ac153616?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic"},"created_at":"2016-05-11T21:40:53.602Z","updated_at":"2016-05-11T21[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4f68ca22e4dea31d21eedf6eeb8e73c"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&excl[...]
