---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"744916546b00f826bc7669685894331e"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits?id=1169162&merge_request_iid=2&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits?id=1169162&merge_request_iid=2&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"c222af415ecc78c644c139cbf5eb44a25205cbad","short_id":"c222af41","title":"Update
        README to include TODO list","created_at":"2016-05-12T20:45:04.000Z","parent_ids":[],"message":"Update
        README to include TODO list\n","author_name":"Jonathan Hoyt","author_email":"hoyt@github.com","authored_date":"2016-05-12T20:45:04.000Z","committer_name":"Jonathan
        Hoyt","committer_email":"hoyt@github.com","committed_date":"2016-05-12T20:45:04.000Z"},{"id":"52bb63a29715e4d2db0cf85e985b300c0a9c5c6a","short_id":"52bb63a2","title":"babysteps","created_at":"2016-05-10T22:19:11.000Z","parent_ids":[],"message":"babysteps\n","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T22:19:11.000Z","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T22:19:11.000Z"}]'
  recorded_at: Tue, 29 Aug 2017 04:38:05 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6598f541dc295338a9599b98539f4fc"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits?id=1169162&merge_request_iid=2&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/merge_requests/2/commits?id=1169162&merge_request_iid=2&page=1&per_page=100>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"4f31199d6e8de7c77cbc835b5c900604","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '1996'
      Ratelimit-Reset:
      - '1699479820'
      Ratelimit-Resettime:
      - Wed, 08 Nov 2023 21:43:40 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-10-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"c222af415ecc78c644c139cbf5eb44a25205cbad","short_id":"c222af41","created_at":"2016-05-12T20:45:04.000Z","parent_ids":[],"title":"Update
        README to include TODO list","message":"Update README to include TODO list\n","author_name":"Jonathan
        Hoyt","author_email":"hoyt@github.com","authored_date":"2016-05-12T20:45:04.000Z","committer_name":"Jonathan
        Hoyt","committer_email":"hoyt@github.com","committed_date":"2016-05-12T20:45:04.000Z","trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/c222af415ecc78c644c139cbf5eb44a25205cbad"},{"id":"52bb63a29715e4d2db0cf85e985b300c0a9c5c6a","short_id":"52bb63a2","created_at":"2016-05-10T22:19:11.000Z","parent_ids":[],"title":"babysteps","message":"babysteps\n","author_name":"Matt
        Burke","author_email":"spraints@gmail.com","authored_date":"2016-05-10T22:19:11.000Z","committer_name":"Matt
        Burke","committer_email":"spraints@gmail.com","committed_date":"2016-05-10T22:19:11.000Z","trailers":{},"web_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/commit/52bb63a29715e4d2db0cf85e985b300c0a9c5c6a"}]'
  recorded_at: Wed, 08 Nov 2023 21:42:40 GMT
recorded_with: VCR 6.1.0
