---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1316735/issues?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"15496e8b14e675eced64ffbbee30fff6"
      Link:
      - <https://gitlab.com/api/v4/projects/1316735/issues?id=1316735&order_by=created_at&page=2&per_page=100&sort=desc&state=all&with_labels_details=false>;
        rel="next", <https://gitlab.com/api/v4/projects/1316735/issues?id=1316735&order_by=created_at&page=1&per_page=100&sort=desc&state=all&with_labels_details=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1316735/issues?id=1316735&order_by=created_at&page=5&per_page=100&sort=desc&state=all&with_labels_details=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '500'
      X-Total-Pages:
      - '5'
      Ratelimit-Observed:
      - '8'
      Ratelimit-Remaining:
      - '1992'
      Ratelimit-Reset:
      - '1651854192'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:23:12 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2498139,"iid":500,"project_id":1316735,"title":"Test Issue #500","description":"Lorem
        Ipsum","state":"opened","created_at":"2016-06-20T18:58:09.707Z","updated_at":"2017-08-22T20:04:31.565Z","closed_at":null,"closed_by":null,"labels":[],"milestone":{"id":363130,"iid":1,"group_id":627189,"title":"Another
        milestone","description":"","state":"active","created_at":"2017-08-22T20:02:48.227Z","updated_at":"2017-08-22T20:02:48.227Z","due_date":null,"start_date":null,"expired":null,"web_url":"https://gitlab.com/groups/Mouse-Hack/-/milestones/1"},"assignees":[],"author":{"id":414903,"username":"kylemacey","name":"Kyle
        Macey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"},"type":"ISSUE","assignee":null,"user_notes_count":0,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/Mouse-Hack/many-commits/-/issues/500","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":false,"_links":{"self":"https://gitlab.com/api/v4/projects/1316735/issues/500","notes":"https://gitlab.com/api/v4/projects/1316735/issues/500/notes","award_emoji":"https://gitlab.com/api/v4/projects/1316735/issues/500/award_emoji","project":"https://gitlab.com/api/v4/projects/1316735"},"references":{"short":"#500","relative":"#500","full":"Mouse-Hack/many-commits#500"},"severity":"UNKNOWN","moved_to_id":null,"service_desk_reply_to":null},{"id":2498138,"iid":499,"project_id":1316735,"title":"Test
        Issue #499","description":"Lorem Ipsum","state":"opened","created_at":"2016-06-20T18:58:09.183Z","updated_at":"2016-06-20T18:58:09.183Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":414903,"username":"kylemacey","name":"Kyle
        Macey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https:[...]
[...]
