---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/Mouse-Hack%2Fhugo-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0deadb7938dd66c697ae11f516139249"
      X-Gitlab-Meta:
      - '{"correlation_id":"30c7e121fb1228a2516453a32efc32e9","version":"1"}'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1699479819'
      Ratelimit-Resettime:
      - Wed, 08 Nov 2023 21:43:39 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-23-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":1169162,"description":"Wanna use something other than jekyll?
        Try this one weird trick. er, actually a bunch of tricks, glued together.","name":"hugo-pages","name_with_namespace":"Mouse-Hack
        / hugo-pages","path":"hugo-pages","path_with_namespace":"Mouse-Hack/hugo-pages","created_at":"2016-05-10T21:15:14.616Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/hugo-pages.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/hugo-pages.git","web_url":"https://gitlab.com/Mouse-Hack/hugo-pages","readme_url":"https://gitlab.com/Mouse-Hack/hugo-pages/-/blob/master/README.md","forks_count":1,"avatar_url":null,"star_count":0,"last_activity_at":"2023-05-05T16:12:13.450Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/hugo-pages","_links":{"self":"https://gitlab.com/api/v4/projects/1169162","issues":"https://gitlab.com/api/v4/projects/1169162/issues","merge_requests":"https://gitlab.com/api/v4/projects/1169162/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/1169162/repository/branches","labels":"https://gitlab.com/api/v4/projects/1169162/labels","events":"https://gitlab.com/api/v4/projects/1169162/events","members":"https://gitlab.com/api/v4/projects/1169162/members","cluster_agents":"https://gitlab.com/api/v4/projects/1169162/cluster_agents"},"packages_enabled":null,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":null,"service_desk_address":"contact-project+mouse-hack-hugo-pages-1169162-issue-@incoming.gitlab.com","can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"private","builds_access_level":"enabled","snippets_access_level":"disabled","pages_access_level":"public","analytics_access_level":"enabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":142189,"import_url":"","import_type":null,"import_status":"none","import_error":null,"open_issues_count":7,"description_html":"\u003cp
        data-sourcepos=\"1:1-1:112\" dir=\"auto\"\u003eWanna use something other than
        jekyll? Try this one weird trick. er, actually a bunch of tricks, glued together.\u003c/p\u003e","updated_at":"2023-05-05T16:12:13.450Z","ci_default_git_depth":null,"ci_forward_deployment_enabled":null,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"runners_token":"GR1348941uzamCoyCDb3Jx922ywJT","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_config_path":null,"public_jobs":true,"shared_with_groups":[{"group_id":627189,"group_name":"Mouse-Hack","group_full_path":"Mouse-Hack","group_access_level":30,"expires_at":null}],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":null,"group_access":{"access_level":50,"notification_level":3}}}'
  recorded_at: Wed, 08 Nov 2023 21:42:39 GMT
recorded_with: VCR 6.1.0
