---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/synthead%2Ftest-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7516bd6cd10dbcf4793c04a6759d0a97"
    body:
      encoding: UTF-8
      string: '{"id":3741535,"description":"This repo is for demonstration purposes
        only.","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:synthead/test-repo.git","http_url_to_repo":"https://gitlab.com/synthead/test-repo.git","web_url":"https://gitlab.com/synthead/test-repo","name":"test-repo","name_with_namespace":"my
        man / test-repo","path":"test-repo","path_with_namespace":"synthead/test-repo","star_count":0,"forks_count":0,"created_at":"2017-07-20T00:35:22.243Z","last_activity_at":"2017-07-20T04:40:47.173Z","_links":{"self":"http://gitlab.com/api/v4/projects/3741535","issues":"http://gitlab.com/api/v4/projects/3741535/issues","merge_requests":"http://gitlab.com/api/v4/projects/3741535/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3741535/repository/branches","labels":"http://gitlab.com/api/v4/projects/3741535/labels","events":"http://gitlab.com/api/v4/projects/3741535/events","members":"http://gitlab.com/api/v4/projects/3741535/members"},"archived":false,"visibility":"internal","owner":{"name":"Maxwell
        Pray","username":"synthead","id":1477621,"state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1477621/avatar.png","web_url":"https://gitlab.com/synthead"},"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1477621,"namespace":{"id":1792797,"name":"synthead","path":"synthead","kind":"user","full_path":"synthead","parent_id":null,"plan":null},"import_status":"none","import_error":null,"avatar_url":null,"open_issues_count":1,"runners_token":"kQS2yYped7x8sjK2MdKK","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Sun, 27 Aug 2017 21:43:47 GMT
recorded_with: VCR 3.0.3
