---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/hackmouse%2Fexample-project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"091d9a459461ee1e7ea5db24cbca217d"
    body:
      encoding: UTF-8
      string: '{"id":1148906,"description":"This is an example project","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:hackmouse/example-project.git","http_url_to_repo":"https://gitlab.com/hackmouse/example-project.git","web_url":"https://gitlab.com/hackmouse/example-project","name":"example-project","name_with_namespace":"Hack
        Mouse / example-project","path":"example-project","path_with_namespace":"hackmouse/example-project","star_count":0,"forks_count":0,"created_at":"2016-05-04T18:07:59.301Z","last_activity_at":"2016-05-10T16:56:02.198Z","_links":{"self":"http://gitlab.com/api/v4/projects/1148906","issues":"http://gitlab.com/api/v4/projects/1148906/issues","merge_requests":"http://gitlab.com/api/v4/projects/1148906/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/1148906/repository/branches","labels":"http://gitlab.com/api/v4/projects/1148906/labels","events":"http://gitlab.com/api/v4/projects/1148906/events","members":"http://gitlab.com/api/v4/projects/1148906/members"},"archived":false,"visibility":"public","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":414903,"namespace":{"id":488675,"name":"Hack
        Mouse","path":"hackmouse","kind":"group","full_path":"hackmouse","parent_id":null},"import_status":"none","avatar_url":null,"open_issues_count":1,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Tue, 29 Aug 2017 04:38:11 GMT
recorded_with: VCR 3.0.3
