---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/hackmouse%2FSpoon-Knife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d10a824e183fc41806beaa106fbbcc7"
    body:
      encoding: UTF-8
      string: '{"id":1148490,"description":"This repo is for demonstration purposes
        only.","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:hackmouse/Spoon-Knife.git","http_url_to_repo":"https://gitlab.com/hackmouse/Spoon-Knife.git","web_url":"https://gitlab.com/hackmouse/Spoon-Knife","name":"Spoon-Knife","name_with_namespace":"Hack
        Mouse / Spoon-Knife","path":"Spoon-Knife","path_with_namespace":"hackmouse/Spoon-Knife","star_count":0,"forks_count":0,"created_at":"2016-05-04T15:50:37.088Z","last_activity_at":"2017-07-19T19:01:55.975Z","_links":{"self":"http://gitlab.com/api/v4/projects/1148490","issues":"http://gitlab.com/api/v4/projects/1148490/issues","merge_requests":"http://gitlab.com/api/v4/projects/1148490/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/1148490/repository/branches","labels":"http://gitlab.com/api/v4/projects/1148490/labels","events":"http://gitlab.com/api/v4/projects/1148490/events","members":"http://gitlab.com/api/v4/projects/1148490/members"},"archived":false,"visibility":"public","container_registry_enabled":null,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":414903,"namespace":{"id":488675,"name":"Hack
        Mouse","path":"hackmouse","kind":"group","full_path":"hackmouse","parent_id":null},"import_status":"finished","avatar_url":null,"open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":null,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Tue, 29 Aug 2017 04:38:12 GMT
recorded_with: VCR 3.0.3
