---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/11923805/repository/branches?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e8a879f07328f8ab6382c07cb411a1a"
      Link:
      - <https://gitlab.com/api/v4/projects/11923805/repository/branches?id=11923805&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/projects/11923805/repository/branches?id=11923805&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '23'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '12'
      Ratelimit-Remaining:
      - '1988'
      Ratelimit-Reset:
      - '1651854198'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:23:18 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"dev-1","commit":{"id":"8ae2093de089bd4176f33a3121e624bc66844213","short_id":"8ae2093d","created_at":"2019-04-18T14:27:42.000+00:00","parent_ids":null,"title":"Initial
        commit","message":"Initial commit","author_name":"Daniel Perez","author_email":"dpmex4527@gmail.com","authored_date":"2019-04-18T14:27:42.000+00:00","committer_name":"Daniel
        Perez","committer_email":"dpmex4527@gmail.com","committed_date":"2019-04-18T14:27:42.000+00:00","trailers":null,"web_url":"https://gitlab.com/Mouse-Hack/test-branch-protections/-/commit/8ae2093de089bd4176f33a3121e624bc66844213"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false,"web_url":"https://gitlab.com/Mouse-Hack/test-branch-protections/-/tree/dev-1"},{"name":"dev-10","commit":{"id":"8ae2093de089bd4176f33a3121e624bc66844213","short_id":"8ae2093d","created_at":"2019-04-18T14:27:42.000+00:00","parent_ids":null,"title":"Initial
        commit","message":"Initial commit","author_name":"Daniel Perez","author_email":"dpmex4527@gmail.com","authored_date":"2019-04-18T14:27:42.000+00:00","committer_name":"Daniel
        Perez","committer_email":"dpmex4527@gmail.com",[...]
