---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=kylemacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"447c3ab828b8cf739eeaa32cc3ebe57b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=kylemacey&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=kylemacey&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1569337121'
      Ratelimit-Resettime:
      - Tue, 24 Sep 2019 14:58:41 GMT
      Gitlab-Lb:
      - fe-04-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '[{"id":414903,"name":"Kyle Macey","username":"kylemacey","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e7bc3ce1dbb0fcaa9bb00bf10628526e?s=80\u0026d=identicon","web_url":"https://gitlab.com/kylemacey"}]'
  recorded_at: Tue, 24 Sep 2019 14:57:41 GMT
[...]
