---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 Aug 2017 06:27:57 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"497f90061a488049c4ac038fae5b7c49"
      X-Gitlab-Meta:
      - '{"correlation_id":"f4176e3cbeddc8d883b1bebb5405810f","version":"1"}'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1997'
      Ratelimit-Reset:
      - '1699479820'
      Ratelimit-Resettime:
      - Wed, 08 Nov 2023 21:43:40 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - haproxy-main-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":true,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":false,"emails_enabled":true,"mentions_disabled":false,"lfs_enabled":true,"default_branch_protection":2,"default_branch_protection_defaults":{"allowed_to_push":[{"access_level":40}],"allow_force_push":false,"allowed_to_merge":[{"access_level":40}]},"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"shared_runners_setting":"enabled","ldap_cn":null,"ldap_access":null,"wiki_access_level":"enabled","shared_with_groups":[],"runners_token":"GR1348941NPz6i3hD8uf_9rzjNw1J","prevent_sharing_groups_outside_hierarchy":false,"projects":[{"id":45764300,"description":null,"name":"test-symbolic-references","name_with_namespace":"Mouse-Hack
        / test-symbolic-references","path":"test-symbolic-references","path_with_namespace":"Mouse-Hack/test-symbolic-references","created_at":"2023-05-05T16:17:32.828Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-symbolic-references.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-symbolic-references.git","web_url":"https://gitlab.com/Mouse-Hack/test-symbolic-references","readme_url":"https://gitlab.com/Mouse-Hack/test-symbolic-references/-/blob/main/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2023-05-05T16:17:32.828Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/test-symbolic-references","_links":{"self":"https://gitlab.com/api/v4/projects/45764300","issues":"https://gitlab.com/api/v4/projects/45764300/issues","merge_requests":"https://gitlab.com/api/v4/projects/45764300/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/45764300/repository/branches","labels":"https://gitlab.com/api/v4/projects/45764300/labels","events":"https://gitlab.com/api/v4/projects/45764300/events","members":"https://gitlab.com/api/v4/projects/45764300/members","cluster_agents":"https://gitlab.com/api/v4/projects/45764300/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-05-06T16:17:32.882Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+mouse-hack-test-symbolic-references-45764300-issue-@incoming.gitlab.com","can_create_merge_request_in":false,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"import_url":null,"import_type":null,"import_status":"none","open_issues_count":0,"description_html":"","updated_at":"2023-10-23T23:34:17.476Z","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"runners_token":"GR1348941safpNKq9Y9QEcgvZqipL","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[]},{"id":38611523,"description":"Testing
        Merge Request to Pull Request Commit History","name":"Test PR Commit History","name_with_namespace":"Mouse-Hack
        / Test PR Commit History","path":"test-pr-commit-history","path_with_namespace":"Mouse-Hack/test-pr-commit-history","created_at":"2022-08-15T23:07:27.446Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-pr-commit-history.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack[...]
