---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false&without_project_bots=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=Mouse-Hack&with_custom_attributes=false&without_project_bots=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1651853628'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:13:48 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-06-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 06 May 2022 16:12:48 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2aaa5282dc0b01d4cf24c31d80783846"
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '1998'
      Ratelimit-Reset:
      - '1651853629'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:13:49 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":627189,"web_url":"https://gitlab.com/groups/Mouse-Hack","name":"Mouse-Hack","path":"Mouse-Hack","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":true,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":false,"mentions_disabled":false,"lfs_enabled":true,"default_branch_protection":2,"avatar_url":null,"request_access_enabled":true,"full_name":"Mouse-Hack","full_path":"Mouse-Hack","created_at":"2016-05-10T22:02:36.633Z","parent_id":null,"ldap_cn":null,"ldap_access":null,"shared_with_groups":[],"runners_token":"GR1348941NPz6i3hD8uf_9rzjNw1J","prevent_sharing_groups_outside_hierarchy":false,"projects":[{"id":31766623,"description":"","name":"Test
        Squash Commits","name_with_namespace":"Mouse-Hack / Test Squash Commits","path":"test-squash-commits","path_with_namespace":"Mouse-Hack/test-squash-commits","created_at":"2021-12-01T15:46:05.916Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/test-squash-commits.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/test-squash-commits.git","web_url":"https://gitlab.com/Mouse-Hack/test-squash-commits","readme_url":"https://gitlab.com/Mouse-Hack/test-squash-commits/-/blob/main/README.md","avatar_url":null,"forks_count":0,"star_count":0,"last_activity_at":"2021-12-01T15:46:05.916Z","namespace":{"id":627189,"name":"Mouse-Hack","path":"Mouse-Hack","kind":"group","full_path":"Mouse-Hack","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/Mouse-Hack"},"container_registry_image_prefix":"registry.gitlab.com/mouse-hack/test-squash-commits","_links":{"self":"https://gitlab.com/api/v4/projects/31766623","issues":"https://gitlab.com/api/v4/projects/31766623/issues","merge_requests":"https://gitlab.com/api/v4/projects/31766623/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/31766623/repository/branches","labels":"https://gitlab.com/api/v4/projects/31766623/labels","events":"https://gitlab.com/api/v4/projects/31766623/events","members":"https://gitlab.com/api/v4/projects/31766623/members","cluster_agents":"https://gitlab.com/api/v4/projects/31766623/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2021-12-02T15:46:05.970Z"},"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+mouse-hack-test-squash-commits-31766623-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","operations_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","emails_disabled":null,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1238984,"import_url":null,"import_type":null,"import_status":"none","open_issues_count":0,"ci_default_git_depth":50,"ci_forward_deployment_enabled":true,"ci_job_token_scope_enabled":false,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","ci_config_path":"","shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":false,"restrict_user_defined_variables":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"ff","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":"","merge_commit_template":"","squash_commit_template":"","auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","autoclose_referenced_issues":true,"keep_latest_artifact":true,"runner_token_expiration_interval":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[]},{"id":25693144,"description":"","name":"where-are-my-labels","name_with_namespace":"Mouse-Hack
        / where-are-my-labels","path":"where-are-my-labels","path_with_namespace":"Mouse-Hack/where-are-my-labels","created_at":"2021-04-06T21:10:35.731Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:Mouse-Hack/where-are-my-labels.git","http_url_to_repo":"https://gitlab.com/Mouse-Hack/where-are-my-labels.git","web_url":"https://gitlab.com/Mouse-Hack/where-are-[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26ea398ae34a833af66312a7f9b31ad9"
      Link:
      - <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="first", <https://gitlab.com/api/v4/groups/Mouse-Hack/members/all?id=Mouse-Hack&page=1&per_page=100>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '17'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '1997'
      Ratelimit-Reset:
      - '1651853629'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:13:49 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-16-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":50,"created_at":"2016-05-10T22:02:36.802Z","expires_at":null,"membership_state":"active"},{"id":529946,"username":"jonmagic","name":"Jon
        Magic","state":"active","avatar_url":"https://secure.gravatar.com/avatar/7064ad438246a02809c85bcd92cb5f3f?s=80\u0026d=identicon","web_url":"https://gitlab.com/jonmagic","access_level":30,"created_at":"2016-05-10T22:05:01.956Z","created_by":{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"expires_at":null,"membership_state":"active"},{"id":529949,"username":"lizzhale","name":"Lizz","state":"active","avatar_url":"https://secure.gravatar.com/avatar/d36cdb93d0f85b5d7b76a183834d4350?s=80\u0026d=identicon","web_url":"https://gitlab.com/lizzhale","access_level":20,"created_at"[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=spraints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3265bd69183facf0b24ee437cf0dd451"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jonmagic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33d96a6468f73a3cd4bfc6f6bf2b4722"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=lizzhale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7689dee45153aa626ad8f9f3c830f236"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=ehale
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9224daafdef2bcca3eeade7ad2bd4e41"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mattcantstop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbeefb63f45b91c7360cf0fe30b18db7"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&sk[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=dpmex4527
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1707147b655afc275aff2581388d1b"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=synthead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8237eeeaa7ebf7eb2b266d7bfc162b39"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=Hollyw0od99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec9e84547bcaabecb6be0e51b2a9058f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&ski[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=tambling
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55b3f7d373abf54e1c0f0f4989c981ee"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=jfine
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"981d5fa66e27f1e3ed5172ebdd0605a4"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ldap[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=admiralawkbar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b2dfd2f17e477a0592447ae2c451495"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&s[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=mechashark-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"053a4f37e369b532207cdfd30ecb0a56"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=keerthanakumar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de97c4aa9c9311ab9bcf8a083d229685"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=brianaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb8dfe9de645bb873634b7d08137a61f"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=iomekam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"844d48c13378d181473eaf2b5901f14e"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_ld[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=juanmrad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1606aa6a3ccaddea2100415a11a88c7d"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_l[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/users?username=gohana
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0fba4609b099d57216b888937027996"
      Link:
      - <https://gitlab.com/api/v4/users?active=false&admins=false&blocked=false&external=false&page=1&per_page=20&skip_lda[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21cd28523c71fb4f23ebffed572e420d"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/labels?id=1169162&include_ancestor_groups=true&page=1&per_page=100&with_counts=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '15'
      Ratelimit-Remaining:
      - '1985'
      Ratelimit-Reset:
      - '1651853633'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:13:53 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-25-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":248628,"name":"Blocker","description":"I''m currently blocked,
        please send help.","description_html":"I''m currently blocked, please send
        help.","text_color":"#333333","color":"#a295d6","subscribed":false,"priority":null,"is_project_label":true},{"id":248627,"name":"Bug","description":"","description_html":"","text_color":"#FFFFFF","color":"#ff0000","subscribed":false,"priority":null,"is_project_label":true},{"id":252887,"name":"Don''t
        Drink and Code","description":"","description_html":null,"text_color":"#FFFFFF","color":"#ad8d43","subscribed":false,"priority":null,"is_project_label":true}]'
  recorded_at: Fri, 06 May 2022 16:12:54 GMT
recorded_with: VCR 3.0.3
