---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/1169162/members?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d18d0f7a50469559317d137937c9013e"
      Link:
      - <https://gitlab.com/api/v4/projects/1169162/members?id=1169162&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/1169162/members?id=1169162&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1651854320'
      Ratelimit-Resettime:
      - Fri, 06 May 2022 16:25:20 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-02-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '[{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints","access_level":40,"created_at":"2016-05-10T21:15:17.473Z","created_by":{"id":142189,"username":"spraints","name":"Matt","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0bf208eebdab7c5d16152f70a1ee837f?s=80\u0026d=identicon","web_url":"https://gitlab.com/spraints"},"expires_at":null,"membership_state":"active"}]'
  recorded_at: Fri, 06 May 2022 16:24:20 GMT
recorded_with: VCR 3.0.3
